/*Variables*/
/*Global*/
body {
  margin: 0;
}

h4 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.first {
  text-align: center;
  font-family: droid-serif, serif;
  font-size: 20px;
  font-style: italic;
  color: #757575;
  padding: 10px 0 0 0;
}

p {
  text-align: center;
}

/*Firstone*/
.firstone {
  background-image: url("../images/Background-Image.png");
  background-position: center center;
  background-size: cover;
  height: 100vh;
  margin: 0;
}

.firstone .container {
  margin: auto;
}

.firstone .container .wrap {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  padding: 20px;
}

.firstone .container .col-md-10 {
  -ms-flex-pack: end;
      justify-content: flex-end;
  padding: 0;
}

.wrap .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  list-style-type: none;
  margin: 0;
}

.wrap .nav li {
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 20px 0 20px;
}

.nav li:last-of-type {
  padding: 0;
}

.nav a {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  text-decoration: none;
}

.nav a:hover {
  color: #fecf34;
}

.firstone .wrap p {
  color: #fecf34;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.container .content {
  right: auto;
  bottom: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 0;
  text-align: center;
}

.content h3 {
  font-family: droid-serif, serif;
  font-size: 50px;
  text-align: center;
  color: white;
  font-style: italic;
}

.content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 90px;
  font-weight: bolder;
  text-align: center;
  color: white;
}

.content .btn {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 16px 40px;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-color: #fecf34;
  border-color: #fecf34;
  border-radius: 5%;
  text-decoration: none;
  display: inline-block;
}

/*Services*/
.services {
  margin-top: 100px;
  margin-bottom: 100px;
}

.services .card-body p {
  font-family: roboto-slab, serif;
  color: #757575;
}

.services .card-image i {
  color: #fecf34;
  text-align: center;
  border-radius: 50%;
  font-size: 35px;
  border: 3px solid #fecf34;
  height: 80px;
  width: 80px;
  line-height: 80px;
}

.services .card-image {
  text-align: center;
}

.services .card {
  border: none;
  padding-top: 40px;
}

.services .first-wrap {
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.second-wrap {
  padding-top: 20px;
}

/*Portfolio*/
.portfolio .first-wrapper {
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.card-image img {
  width: 100%;
}

.portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f7f7f7;
}

.portfolio .wrap {
  padding-bottom: 50px;
  font-size: 0;
}

.second-wrapper {
  padding-top: 70px;
}

.second-wrapper .card-body {
  background-color: white;
  padding: 20px 0;
}

.wrap .card-body h4 {
  margin: 0;
  padding: 0px;
  font-size: 20px;
  font-weight: bolder;
}

.wrap .card-body p {
  margin: 0;
  font-family: droid-serif, serif;
  font-style: italic;
  color: #757575;
  font-size: 17px;
}

/*Footer*/
.footer {
  padding: 35px 0;
}

.footer p {
  text-align: left;
  margin: 0;
  color: #757575;
  padding: 0;
}

.copyright {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.icon {
  margin: 0;
  padding: 0;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.icon li {
  font-size: 0px;
  padding: 0 10px;
}

.link i {
  border-radius: 50%;
  background-color: #222222;
  color: white;
  font-size: 21px;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 42px;
}

.social {
  padding: 0;
}

.footer .social {
  transform: translateX(-50%);
  text-align: center;
}

/*Media*/
@media (max-width: 767px) {
  .firstone .wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .firstone .col-md-2 {
    display: block;
    margin: 0;
  }
  .firstone .col-md-10 {
    display: block;
    margin: 0;
  }
  .firstone .nav {
    margin: 0;
    text-align: center;
    padding: 0;
    display: block;
  }
  .firstone .nav li {
    display: block;
  }
  .content .btn {
    font-size: 10px;
    padding: 10px;
  }
  .content h3 {
    font-size: 20px;
  }
  .content h1 {
    font-size: 30px;
  }
  .card-body h4 {
    font-size: 20px;
  }
  .card-body p {
    font-size: 15px;
  }
  .footer .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
  .footer .social {
    transform: translateX(0%);
  }
  .footer p {
    text-align: center;
  }
  .footer .copyright {
    padding-top: 10px;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .icon li {
    padding: 0;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .content .btn {
    font-size: 20px;
  }
  .content h3 {
    font-size: 40px;
  }
  .content h1 {
    font-size: 50px;
  }
  .card-body h4 {
    font-size: 22px;
  }
  .card-body p {
    font-size: 18px;
  }
  .footer .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
  .footer .social, .copyright {
    transform: translateX(50%);
  }
  .footer p {
    text-align: center;
  }
  .footer .copyright {
    padding-top: 10px;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .icon li {
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */